# Configuration file

general {
    # How long will exist circles on cast? Explanation: 20 ticks = 1 second
    I:"Casting circles existence"=20

    # Rotation speed of casting circles
    D:"Casting circles rotation"=3.0

    # Look at Casting maniac circles, that's those circles
    D:"Casting circles size(affects on every spellcast)"=4.0

    # SOME MAGIC CIRCLES ON CASTING ANY SPELL BENEATH YOU!???
    B:"Casting maniac circles"=true

    # If you cast with Owned magic item, then it will say you how much mana you have!
    B:"Is Owned items alive?"=true

    # You want some MAGIC CIRCLES appearing on Summoning someone?(Beneath summon)
    B:"SUMMONING CIRCLES!!!!"=true

    # When other spellcaster's use magic, are they leave Magic Circle at bottom?
    B:"Spellcaster's Magic Circles"=true

    # If true - then you'll see THUNDER on casting this spell
    B:"Thunder Rage cause Thunder?"=false

    # You want some spells that could change weather? (Rain Begone, and Rain Approach)
    B:"Weather Spells"=false
}


